
a0/main
.vscode/settings.json
a1/parser
a1/s.csv
a1/short-cards-1.csv
a1/short-cards-2.csv
a1/cards.csv
a2/parser
a2/search
a2/s_cardbin
a1-2_cards_csv/cards.csv
a1-2_cards_csv/short-cards-1.csv
a1-2_cards_csv/short-cards-2.csv
